@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400&display=swap');

.section-discover{
  padding: 3em 5em 8em 8em;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  .title-container{
    margin-top: 7em;
    .discover{
      font-family: 'Great Vibes', cursive;
      font-size: 3em;
      color: var(--yellow);
      margin-bottom: 0em;
      line-height: 10px;
      text-align: end;
    }
    .menu{
      font-size: 3em;
      text-transform: uppercase;
      font-weight: bold;
      font-family: 'Josefin Sans', Arial, sans-serif;
      text-align: end;
    }
  }
  .description{
    text-align: end;
    color: gray;
  }
  .button-container{
    text-align: end;
    button{
      padding: 1em;
      font-size: 0.9em;
      color: var(--yellow);
      border: 1px solid var(--yellow);
      background-color: transparent;
      transition: 0.5s;
    }
    button:hover{
      background-color: var(--yellow);
      color: white;
    }
  }
  .images-container{
    .image{
      height: 230px;
      background-size: cover;
      background-position: center;
    }
  }
}
@media (max-width: 576px){
  .section-discover{
    padding: 2em 2em 4em 2em;
    .title-container{
      margin-top: 4em;
      .discover{
        text-align: start;
      }
      .menu{
        text-align: start;
      }
    }
    .description{
      text-align: start;
    }
    .button-container{
      text-align: start;
    }
  }
}